*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.top{
    display:flex;
    float:left;
}
ul{
    display:flex;
    column-gap: 20px;
    list-style: none;

}
a{
    text-decoration:none;
    list-style: none;
    color:white;
    font-size:20px;
}
.links{
    
    float:right;
    
}
.header img{
    width: 70px;
    height: 70px;
    border-radius:8px;
    display: flex;
    

}
.header
{
    height: 12vh;
    border: 2px solid black;
    background-color: #997e93;
    color: white;
    text-align: center;
}

h1
{
    margin: 0.4rem;
}
h2{
    color: #ffa07a;
    margin-top:30px;
}
.content ,footer {
    display:grid;
    justify-content: center;
    text-align: center;
    
}
#register{
    background-color:rgb(65, 65, 189);
    border:none;
}